@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>Ders sayfası</h1>
    <p>@Html.ActionLink("Derslistele", "listele")</p>
    <p>@Html.ActionLink("DersYeni", "Yeni")</p>
    <p>@Html.ActionLink("DersDetay", "DersDetay")</p>
    <p>@Html.ActionLink("DersSil", "DersSil")</p>
}
