@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>Ögrenci Ders Sayfası</h1>
    <p>@Html.ActionLink("OgrenciDerslistele", "listele")</p>
    <p>@Html.ActionLink("OgrenciDersYeni", "Yeni")</p>
    <p>@Html.ActionLink("OgrenciDersDetay", "OgrenciDersDetay")</p>
    <p>@Html.ActionLink("OgrenciDersSil", "OgrenciDersSil")</p>
}
