@model WebApp_MVC_Project.Models.OgrenciDers

@{
}

<h1>Yeni Öğrenci Ders</h1>

<div>
    <form asp-action="Yeni">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
       
        <div class="form-group">
            <label asp-for="Ad" class="control-label"></label>
            <input asp-for="Ad" class="form-control" />
            <span asp-validation-for="Ad" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Soyad" class="control-label"></label>
            <input asp-for="Soyad" class="form-control" />
            <span asp-validation-for="Soyad" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="KayitTarih" class="control-label"></label>
            <input asp-for="KayitTarih" class="form-control" />
            <span asp-validation-for="KayitTarih" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ÖgrenciNo" class="control-label"></label>
            <input asp-for="ÖgrenciNo" class="form-control" />
            <span asp-validation-forÖgrenciNo class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DogumTarihi" class="control-label"></label>
            <input asp-for="DogumTarihi" class="form-control" />
            <span asp-validation-for="DogumTarihi" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Bolum" class="control-label"></label>
            <input asp-for="Bolum" class="form-control" />
            <span asp-validation-for="Bolum" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DersAd" class="control-label"></label>
            <input asp-for="DersAd" class="form-control" />
            <span asp-validation-for="DersAd" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Kredisi" class="control-label"></label>
            <input asp-for="Kredisi" class="form-control" />
            <span asp-validation-for="Kredisi" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="OkulYonetimId" class="control-label"></label>
            <input asp-for="OkulYonetimId" class="form-control" />
            <span asp-validation-for="OkulYonetimId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>

</div>