@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>Yönetim Sayfası</h1>
    <p>@Html.ActionLink("Yonetimlistele", "listele")</p>
    <p>@Html.ActionLink("YonetimYeni", "Yeni")</p>
    <p>@Html.ActionLink("YonetimDetay", "YonetimDetay")</p>
    <p>@Html.ActionLink("YonetimSil", "YonetimSil")</p>
   
}
