@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{<h1>Ogrenci Sayfası</h1>
    <p>@Html.ActionLink("Ogrencilistele", "listele")</p>
    <p>@Html.ActionLink("OgrenciYeni", "Yeni")</p>
    <p>@Html.ActionLink("OgrenciDetay", "OgrenciDetay")</p>
    <p>@Html.ActionLink("OgrenciSil", "OgrenciSil")</p>
}
